.calendar {
  width: 250px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
}

.month {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.weekDays {
  display: flex;
}

.weekDay {
  width: 14%;
}

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.day {
  width: 32.8px;
}

.days input {
  display: none;
}

.days input:disabled + label {
  color: grey;
}

.days input:checked + label {
  background-color: red;
}
